#search-list .search-control {
    display: flex;
    justify-content: space-between;
    aligin-items: center;
    padding: 20px 0;
}

#search-list .search-paging {
    display: flex;
}

#search-list .search-paging a {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 8px;
    color: black;
    text-decoration: none;
}

#search-list .search-paging a.active {
    background-color: black;
    color: white;
}

.no-border {
    border: none;
    outline: none;
    /* 追加してフォーカス時の枠線も非表示にする */
    text-decoration: underline; /* アンダーラインを追加 */
    background-color: transparent; /* 背景色を透明にする */
}

.active-page-link {
    background-color: black;
    color: white;
}